# Server
PORT=4000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/students-db

# JWT
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura_cambiar_en_produccion
JWT_EXPIRES_IN=7d

# Uploads (rutas relativas a la raíz del proyecto)
UPLOAD_PATH=./uploads
MAX_FILE_SIZE_MB=10
